@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-text-light: var(--text-light);
  --color-text-dark: var(--text-dark);
  --color-text-secondary: var(--text-secondary);
  --color-text-third: var(--text-third);

  --color-main-color: var(--main-color);
  --color-main-color-hover: var(--main-color-hover);

  --color-main-dark: var(--main-dark-color);
  --color-secondary-dark: var(--secondary-dark-color);
  --color-tertiary-dark: var(--tertiary-dark-color);
  --color-quaternary-dark: var(--quaternary-dark-color);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --text-light: #ffffff;
  --text-dark: #020617; /* slate-950 */
  --text-secondary: #94a3b8; /* slate-400 */
  --text-third: rgb(182, 190, 200); /* slate-300 */

  --main-color: #10b981; /* emerald-500 */
  --main-color-hover: #34d399; /* emerald-400 */

  --main-dark-color: #0f172a; /* slate-900-ish */
  --secondary-dark-color: #0f172a; /* bg-slate-900 */
  --tertiary-dark-color: #1e293b; /* bg-slate-800 */
  --quaternary-dark-color: #334155; /* bg-slate-700 */

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: var(--text-light);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  h1 {
    @apply text-6xl md:text-6xl xl:text-7xl font-bold;
  }

  h2 {
    @apply text-3xl lg:text-5xl font-bold;
  }

  h3 {
    @apply text-2xl lg:text-4xl font-medium;
  }

  a {
    @apply hover:cursor-pointer;
  }

  button {
    @apply hover:cursor-pointer;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem; /* default padding for small screens */

  @media (min-width: 640px) {
    /* sm */
    padding-inline: 2rem;
    max-width: 640px;
  }

  @media (min-width: 768px) {
    /* md */
    padding-inline: 2.5rem;
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    /* lg */
    padding-inline: 3rem;
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    /* xl */
    padding-inline: 4rem;
    max-width: 1280px;
  }

  @media (min-width: 1400px) {
    /* 2xl / extra wide */
    padding-inline: 5rem;
    max-width: 1400px;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer utilities {
  /* Track color while disabled */

  /* Thumb color while disabled */
  .disabled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--main-color-hover);
    width: 16px;
    height: 16px;
    border-radius: 9999px;
  }

  /* Firefox */
  .disabled-slider::-moz-range-thumb {
    background-color: var(--main-color-hover);
  }
  .disabled-slider::-moz-range-track {
    background-color: var(--main-color-hover);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px); /* Move up slightly */
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
